.header {
  font-weight: 400;
  padding: 15px 0;
  .row {
    align-items: center;
  }

  .header__left {
    .header__item {
      padding-right: 12px;
    }
  }

  .header__center {
    text-align: center;
    .logo {
      text-transform: uppercase;
      font-size: 24px;
    }
  }

  .header__right {
    margin-right: 0;
    text-align: right;
    .header__item {
      padding-right: 12px;
      display: inline-flex;
      align-items: center;
      column-gap: 4px;
    }
  }
  .header__item {
    color: var(--text-color);
    position: relative;
  }
  .active {
    color: #ebc575;
  }
  .cart__quantity{
    display: flex;
    position: absolute;
    padding: 8px;
    font-size: 10px;
    color: white;
    top: -7px;
    left: 7px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 999px;
    line-height: 1;
    width: 12px;
    height: 12px;
    align-items: center;
    justify-content: center;
  }
}
