.wrapper {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 12px 2px #555;
  overflow: hidden;
  .chat-header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;

    .title {
      font-weight: 500;
      font-style: normal;
    }

    .cta {
      padding: 4px 8px;
      background-color: #f6f9f6;
      color: #555;
      cursor: pointer;
      &:hover {
        background-color: #c6c9c6;
      }
    }
  }

  .body {
    height: 300px;
    padding: 0 20px;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .message{
      padding: 8px;
      border-radius: 2px;
      margin: 8px 0;
      width: fit-content;
    
      &.left{
        background-color: #c6c9c6;
        text-align: left;
            align-self: flex-start;
      }
      &.right{
        background-color: #48b0f7;
        color: #f6f9f6;
        text-align: right;
            align-self: flex-end;
      }
    }
    .login-msg{
      text-align: center;
    }
  }

  .chat-footer {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f6f9f6;
    .user-content {
      display: flex;
      align-items: center;
      .avatar {
        border-radius: 999px;
      }

      .input {
        padding: 4px 8px;
        input {
          border: none;
          outline: none;
          padding: 4px 8px;
          &:disabled{
            cursor:no-drop
          }
        }
      }
    }

    .chat-control {
      display: flex;
      align-items: center;
      column-gap: 8px;
      .attach,
      .icon,
      .send-btn {
        cursor: pointer;
        color: #aaa;
      }

      .send-btn {
        color: #48b0f7;
        border: none;
        background: unset;
      }
    }
  }
}
